<div class="card">
  <img src="/assets/images/jeans.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">2000</p>
  <p>Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button type="button" class="btn btn-success"
    (click)="Adding()">Adding product</button>
 </p>
</div>
<div class="card">
  <img src="/assets/images/whiteshirt.jpg" alt="Denim shirt" style="width:100%">
  <h1>White Shirt</h1>
  <p class="price">3000</p>
  <p>super slim and comfortable shirt.</p>
  <p><button type="button" class="btn btn-success"
     (click)="Adding()">Adding product</button>
  </p>
</div>
<div class="card">
  <img src="/assets/images/womens shrugs.jpg" alt="denim shirt" style="width:100%">
  <h1>Womens White Shirt</h1>
  <p class="price">2000</p>
  <p>super slim and comfortable shirt for womens.</p>
  <p><button type="button" class="btn btn-success"
     (click)="Adding()">Adding product</button>
  </p>
</div>
<div class="card">
  <img src="/assets/images/mensformalsuits.jpg" alt="formal suits" style="width:100%">
  <h1>Mens Formal</h1>
  <p class="price">5000</p>
  <p>super slim and comfortable mens clothing.</p>
  <p><button type="button" class="btn btn-success"
     (click)="Adding()">Adding product</button>
  </p>
</div>
