<!-- <h3>Sellers</h3>


Search by seller:

<input type="text" name="author" [(ngModel)]="author" />





<div class="row">

    <div class="col">              

    </div>

</div>

<br/>

<div class="row">

        <div class="col-4" *ngFor="let p of products">

            <div class="card" style="width: 18rem;" >

                <div class="card-body">

                  <!-- <h5 class="card-title">{{book.title}}</h5>

                  <p class="card-text">Publisher: {{book.author}} <br/>

                    Published Year: {{book.published_year}} <br/>

                     Email: {{book.email}} <br/>

                       

        </p> -->



                             <ul class="list-group">

 

                                <h5 class="card-title">{{p.title}}</h5>

                        <li class="list-group-item">Publisher: {{p.author}}</li>

                        <li class="list-group-item">Published Year: {{p.published_year}}</li>

                        <li class="list-group-item">Email: {{p.email}}</li>

                      </ul>

                </div>

              </div>

        </div>

</div> -->