
    input{
        margin-top: 20px;
    }
    table{
        margin-top: 20px;
    }
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
    td,th{
        text-align: center;
    }
