<br><br>
<h1>Registration Form</h1><br>
<table class="table">
    <thead class="table-warning">
        <div>
            <form>
                <div class="row g-3 needs-validation" novalidate>
                    <div class="col">
                        <label for="inputName" class="form-label"> Name</label>&nbsp;
                        <input type="text" class="form-control" placeholder="Enter Full Name" aria-label="First name" required>
                    </div>
                </div><br>
                <form class="row g-3 needs-validation" novalidate>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>&nbsp;&nbsp;
                        <input type="email" class="form-control" placeholder="Enter Valid Mail ID" id="inputEmail4" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Password</label>&nbsp;
                        <input type="password" class="form-control" placeholder="Alphanumeric and symbols" id="inputPassword4" required>
                    </div>
                </form><br>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
                </div><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-secondary" (click)="onClick()">Reset Password</button>
            </form>
        </div>
    </thead>
</table>